<div class="mb-3 d-flex justify-content-end">
  <button
    class="btn btn-primary"
    hx-get="<%= new_group_path %>"
    hx-swap="outerHTML"
    hx-target="#new-group"
    hx-on:htmx-after-swap="console.log('afterSwap', this)"
  >
    Add Group
  </button>
</div>
<div id="groups-container" class="d-flex overflow-x-scroll">
  <% groups.each do |group| %>
    <%= render 'groups/show', group: %>
  <% end %>
  <div id="new-group"></div>
</div>
