.time-header td a {
    text-decoration: none;
    color: grey;
}

.time-header td {
    padding-left: 15px;
}

.time-header td.selected, .time-header td:hover {
    border-bottom: red solid 2px;
}

.time-header td.selected a {
    color: black;
}
